* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1240px;

}

.header {

  width: 100%;
  background-color: gray;
  padding: 10px 0;
  z-index: 1;
}

.header-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

.header-logo-box {
  width: 100px;
  height: 100px;
}

.header-logo {
  width: 200%;
  height: 100%;
  object-fit: contain;
}

.header-menu {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 20px;
  letter-spacing: 1px;
}



.menu-list:hover a{
  border-bottom: 1px solid #fff;
  color: white;
  opacity: -0,4px;
}

.header-btn-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-btn {
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: gray;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.header-btn:hover a {
  background-color:  #fff;
  color: #333;
}

.menu-link-btn {
  padding: 12px 25px;
  font-size: 18px;
  color: #fff;
  display: block;
}

.subnav-menu {
  position: absolute;
  list-style:none;
}
.bannermt3{
margin-top: 200px;  
}
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners img {
  width: 150px;
  height: auto;
  margin: 200px;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners img {
  width: 150px;
  height: auto;
  margin: 10px;
}
article{
width: 100%;
background-color: white;
padding: 10px 0;
z-index: 1px;
}
.col-25 {
  width: 25%;
  float: left;
  overflow: hidden;
  margin: 0 auto;
}

.prod {
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  margin: 5px;
  padding: 5px;
  text-align: center;
  position: relative;
}

.prod > .name {
  font-style: oblique;
  color: orangered;
  font-size: 20px;
}

.prod > .image {
  max-width: 98%;
  height: 150px;
  margin-bottom: 10px;
}
.main{
  padding: 0 80px;

}
.col-25 {
 opacity: 0.4;
 transition: 0.5s ;
}
.col-25:hover{
  opacity: 1;
}
.prod .new-icon {
  width: 20%;
  position: absolute;
  top: 0px;
  right: 0px;
}
.price {
  font-size: 24px;
  font-weight: auto;
  color: #333;
  text-align: center;
}

.tieude{
  margin-left: 20px;
align-content: baseline;

}
strike{
  color: red;
}
.tieude{
  text-align: left;
  margin-right: 200px;
}


  
.img{
    box-align: left;
    
    width: 500px;
    height: 500px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
} 
footer {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}